/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styles */
/* _______________________________________header */
body {
    font-family: 'Minion Pro', serif;
    font-size: 16px;
}

.container {
    width: 1300px;
    min-height: 200px;
    margin: 0 auto;
    background-image: url('img/bcg.png');
    background-position: left top;
    overflow: hidden
}

.width {
    width: 1170px;
    margin: 0 auto;
    overflow: auto;
}

a {
    text-decoration:none;
  }

.header {
    width: 100%;
    height: 70px;
    background-color: #8c0a0d;
}

#logo {
    margin-top: 15px;
    float: left;
}

.header > .width > ul {
    display: inline;
    margin-left: 110px;
}

.header > .width > ul > li{
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 38px;
    margin-right: 30px;
}

.header > .width > ul > li> a {
    color: #f5b765;
}

#iconeng {
    display: inline;
    display: block;
    float: right;
    margin-top: 35px;
    margin-right: 10px;
}

.eng {
    display: inline;
    text-transform: uppercase;
    color: #f5b765;
    float: right;
    margin-top: 37px;
    margin-right: 67px;
}

/* _______________________________________slider */
.slider {
    width: 1170px;
    margin: 26px auto 0;
    position: relative;
}

.slider img {
    height: 333px;
    margin: 0 auto;

}

.slider button {
    border: none;
    outline: none;
    border-radius: 7px;
    width: 190px;
    height: 42px;
    font-family: 'Minion Pro', serif;
    font-weight: 800;
    font-size: 24px;
    background-color: #f6cc79;
    box-shadow: 0 6px #bf670d;
    position: absolute;
    top: 110px;
    left: 490px;
}

h1 {
    font-size: 60px;
    color: #35040c;
    position: absolute;
    top: 0;
    margin-top: 26px;
    margin-left: 358px;
    float: none;
}

h1 span {
    font-family: 'Arial', sans-serif;
}

.arrow {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 155px;
}

.arrow-l {
    background-image: url('img/left-arrow.png');
    left: 29px;
}

.arrow-r {
    background-image: url('img/right-arrow.png');
    right: 29px;
}

.dots-nav {
    width: 63px;
    height: 15px;
    position: absolute;
    left: 554px;
    bottom: 19px;
}

.dots-nav > div {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin-left: 9px;
}

.dots-nav > div:first-child {
    margin-left: 0;
}

.dots-nav > div:nth-child(2) {
    background-color: #bf670d;
}

/*_______________________________________text */
.column {
    width: 269px;
    height: 297px;
    padding-right: 30px;
    margin-top: 30px;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

.column:last-child{
    padding-right: 0;
}

.column-title {
    height: 108px;
}

.column p {
    font-weight: normal;
}

/*_______________________________________footer */
.footer {
    height: 58px;
    width: 100%;
    padding-top: 12px;
    background-color: #8c0a0d;
    overflow: hidden;
    position: relative;
}

.footer .width > div {
    width: 291px;
    min-height: 20px;
    font-size: 14px;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    /* padding-right: 15px; */
    box-sizing: border-box;
    color: #e1a458;
}

.footer .width{
    position: relative;
}

.footer .width > img {
    position: absolute;
    top: 21px;
}

#fb {
    right: 41px;
    top: 11px;
}

#twitter {
    right: 0px;
    top: 11px;
}